	<form>
		<fieldset>
			<legend>Location Edit</legend>
			{{input placeholder = "Name" value = name}}
			{{input placeholder = "Address" value = address}}
			{{input placeholder = "Notes" value = notes}}
			{{input placeholder = "Phone" value = phone}}
			{{input placeholder = "Hours" value = hours}}
			{{input placeholder = "Website" value = website}}
			{{input placeholder = "Incentive" value = incentive}}	
			<button class = "tiny" {{action 'save'}}>Save Changes</button>
		</fieldset>
	</form>