<h3>{{name}}</h3>
<div>Enter New Location</div>
{{input placeholder = "Name" value = controller.newLocation.name}}
{{input placeholder = "Address" value = controller.newLocation.address}}
{{input placeholder = "Notes" value = controller.newLocation.notes}}
{{input placeholder = "Phone" value = controller.newLocation.phone}}
{{input placeholder = "Hours" value = controller.newLocation.hours}}
{{input placeholder = "Website" value = controller.newLocation.website}}
{{input placeholder = "Incentive" value = controller.newLocation.incentive}}	
<button {{action 'addLocation'}}>Add Location</button>
<ul>
	{{#each locations itemController="location" }}
		<li>Name: {{name}}
		<button {{action 'delete'}}>Delete</button>
		</li>
	{{/each}}
</ul>
