<h2>Location Details</h2>
<div>Name: {{name}}</div>
<div>Address: {{address}}</div>
<div>Hours: {{hours}}</div>
<div>Phone: {{phone}}</div>
<div>Incentive: {{incentive}}</div>
<div>Website: {{website}}</div>